.mobile-view {
  .subcategory-list {

    .parent-category {
      display: inline-block;
      padding: 6px 12px;
      background-color: var(--secondary);
      border-radius: 0.5em;
    }

    .category-list-item {
      background-color: var(--secondary);
      border-top: 0 !important;
      border-bottom: 0 !important;
      outline: 1px solid var(--secondary);
      border-radius: 12px;
    }

  }
}
